<!DOCTYPE html>
<html>
<head>
    <title>Looper</title>
    <!-- <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">-->
    <link rel="stylesheet" href="/shared/css/tui.css" />
</head>
<body>
    <h2 id="current_tag">Hi!</h1>
    <div id="tasks"></div>
    <script src="/shared/js/axios.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
