<!DOCTYPE html>
<html>
<head>
    <title>thor1</title>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <h1>thor1 -- домашний сервер</h1>
    <ul>
        <li>Красивые графики: <a href="http://192.168.0.240:3000">Grafana</a></li>
    </ul>
</body>
</html>
