<!DOCTYPE html>
<html>
<head>
    <title>thor1</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
</head>
<body>
    <h1>thor1 -- домашний сервер</h1>
    <ul>
        <li>Красивые графики: <a href="http://192.168.0.240:3000">Grafana</a></li>
        <li>VPN:
            <ul>
                <li>Протокол: SOCKS5</li>
                <li>Host: 192.168.0.240</li>
                <li>Port: 1080</li>
                <li>Чтобы подключить все приложения, в Windows есть "настройки прокси"</li>
                <li>Чтобы удобно включать/выключать прокси в браузере, можно использовать FoxyProxy (<a href="https://chromewebstore.google.com/detail/foxyproxy/gcknhkkoolaabfmlnjonogaaifnjlfnp?hl=en&pli=1">Chrome</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/foxyproxy-standard/">Firefox</a>)</li>
                <li>Для телефонов подходит V2Box (<a href="https://apps.apple.com/us/app/v2box-v2ray-client/id6446814690">iOs</a>, <a href="https://play.google.com/store/apps/details?id=dev.hexasoftware.v2box&hl=en&pli=1">Android</a>)</li>
            </ul>
        </li>
    </ul>
</body>
</html>
