<!DOCTYPE html>
<html>
<head>
    <title>Audio player</title>
    <!-- <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">-->
</head>
<body>
    <audio id="player" controls src="static/audio/AWOLNATION - Party People.m4a"></audio>
    <script>
        const player = document.getElementById("player");
        const nextTrack = () => {
            player.src = "static/audio/Vibe Chemistry - Baddest.m4a";
            player.autoplay = true;
            if ('mediaSession' in navigator) {
                navigator.mediaSession.metadata = new MediaMetadata({
                    title: "Baddest",
                    artist: "Vibe Chemistry",
                });
            }
        };
        player.addEventListener("ended", nextTrack);

        if ('mediaSession' in navigator) {
            navigator.mediaSession.setActionHandler("nexttrack", () => nextTrack());
        }
    </script>
</body>
</html>
